
			<li class="genlist-item"  gen-list-del-id="<%= item.getID() %>" >
				<div class="opsportal-nav-list-item">
					<span class="icon opsportal-item-icon"><i class="fa <%= item.attribute_icon %> fa-fw opsportal-icon-fw"></i></span><%= item.attr('attribute_label') %>
					<div class="icons">
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			