<div class="opsportal-widget" id="hris-object-widget">
	<div class="hris-list-object opsportal-widget-inner">
		
	</div>
	
	<div class="hris-widget-nav-sub">
		<a class="hris-toggle tt" id="toggle-sets-attr" href="#" title="Show Attribute Sets and Attributes in Single Column"><span class="icon"><i class="fa fa-bars fa-fw"></i></span></a>
		<a class="hris-modal tt" id="hris-import-data" href="#" title="Import Data"><span class="icon"><i class="fa fa-plus fa-fw"></i></span></a>
	</div>
</div>