<div class="opsportal-stage-container">

<div class="gen-btn-list">
	<ul class="list-unstyled list-inline">
	<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button">Create Object</a></li>
	<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button">Create Attribute Set</a></li>
	<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button">Create Attribute</a></li>
	</ul>
</div>

<div class="opsportal-stage-main id="hris-newattr-widget">

<form class="form-horizontal hris-form-container">
<fieldset>

<!-- Form Name -->
<legend>New <em>Attribute</em></legend>

<div class="form-group">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="row">
			
			<div class="col-xs-3">
				<div class="hris-item-icon-edit gb"><i class="fa fa-map-marker fa-fw fa-3x"></i><a href="#new-attr-icon" title="Add Icon" data-toggle="modal">Add Icon</a></div>
				<div class="modal fade" id="new-attr-icon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Add Icon</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12">
									<ul class="hris-add-icon">
									    <li class="col-xs-1" data-dismiss="modal"><i class="fa fa-adjust fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-anchor fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-archive fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-arrows fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-arrows-h fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-arrows-v fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-asterisk fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-ban fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bar-chart-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bars fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-beer fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bell fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bell-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bolt fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-book fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bookmark fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bookmark-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-briefcase fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bug fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-building-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-bullhorn fa-fw"></i></li>
										<li class="col-xs-1 active-icon"><i class="fa fa-bullseye fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-calendar fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-calendar-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-camera fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-camera-retro fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-caret-square-o-down fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-caret-square-o-left fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-caret-square-o-right fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-caret-square-o-up fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-certificate fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-check fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-check-circle fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-check-circle-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-check-square fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-check-square-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-circle fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-circle-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-clock-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-cloud fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-cloud-download fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-cloud-upload fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-code fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-coffee fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-cog fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-cogs fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-comment fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-comment-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-comments fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-comments-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-compass fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-credit-card fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-crosshairs fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-cutlery fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-dashboard fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-desktop fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-dot-circle-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-envelope fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-envelope-o fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-exchange fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-exclamation fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-exclamation-circle fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-exclamation-triangle fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-eye fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-female fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-fighter-jet fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-film fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-fire fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-flag fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-flash fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-flask fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-folder fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-gavel fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-gift fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-globe fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-group fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-headphones fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-heart fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-home fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-inbox fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-key fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-laptop fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-leaf fa-fw"></i></li>
										<li class="col-xs-1"><i class="fa fa-marker fa-fw"></i></li>
									</ul><!-- .thumbnails -->
								</div><!-- .span12 -->
							</div><!-- .row -->
						</div><!-- .container -->

						<div class="modal-footer">
							<button type="button" class="btn opsportal-btn opsportal-btn-dk" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary pull-right opsportal-btn">Save changes</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
			<div class="col-xs-9">
				<div class="form-group opsportal-margin-top-2x">
				    <label class="col-xs-4 control-label" for="textinput">Parent Object</label>
					<div class="col-xs-6">
						<select name="selectbasic" class="form-control">
							<option value="0"></option>
							<option value="1">Object 1</option>
							<option value="2">Object 2</option>
					    </select>
					</div>
					<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
				</div>
				
				<div class="form-group opsportal-margin-top-2x">
				    <label class="col-xs-4 control-label" for="textinput">Parent Attribute Set</label>
					<div class="col-xs-6">
						<select name="selectbasic" class="form-control">
							<option value="0"></option>
							<option value="1">AS 1</option>
							<option value="2">AS 2</option>
					    </select>
					</div>
					<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
				</div>
			</div>
		</div>
		<div class="row opsportal-margin-top-2x opsportal-padding-top opsportal-divider-top">
			<label class="col-xs-3 control-label" for="textinput">Attribute Name</label>  
			<div class="col-xs-8"><input name="textinput" type="text" placeholder="Attribute Name" class="form-control input-md" title="Attribute Name"></div>
			<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
		</div>
		
		<div class="row opsportal-margin-top-2x">
			<label class="col-xs-3 control-label" for="textinput">Attribute Description</label>  
			<div class="col-xs-8"><input name="textinput" type="text" placeholder="Attribute Description" class="form-control input-md" title="Attribute Description"></div>
			<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
		</div>
		
		<div class="row opsportal-margin-top-2x">
			<label class="col-xs-3 control-label" for="textinput">Column</label>  
			<div class="col-xs-8"><input name="textinput" type="text" placeholder="Column" class="form-control input-md" title="Column"></div>
			<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
		</div>
		
		<div class="row opsportal-margin-top-2x">
			<label class="col-xs-3 control-label" for="textinput">Data Type</label>  
			<div class="col-xs-8">
				<select name="selectbasic" class="form-control tt-field">
					<option value="0"></option>
					<option value="1">Text</option>
					<option value="2">Option two</option>
			    </select>
			</div>
			<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
		</div>
		
		<div class="row opsportal-margin-top-2x">
			<label class="col-xs-3 control-label" for="textinput">Permission</label>  
			<div class="col-xs-8"><input name="textinput" type="text" placeholder="Permission" class="form-control input-md" title="Permission"></div>
			<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
		</div>
		
		<div class="row opsportal-margin-top">
			<label class="col-xs-3 control-label" for="checkboxes-0">Unique Key</label>  
			<div class="col-xs-8"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1" class="opsportal-checkbox"></div>
			<div class="col-xs-1 opsportal-nopadding hris-form-help"><a href="#" class="some-class po-help" data-content="Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-lg"></i></a></div>
		</div>
		
		<div class="form-group opsportal-margin-top opsportal-padding-top opsportal-divider-top">
			<div class="col-xs-12 pull-right">
				<button type="submit" id="button1id" name="button1id" class="btn btn-primary pull-right opsportal-btn">Save</button>
				<button id="button2id" name="button2id" class="btn pull-right opsportal-btn opsportal-btn-dk">Cancel</button>
			</div>
		</div>
	</div>
</div>

</fieldset>
</form>
	
</div>
</div>