
    <div class="row">
		<div class='col-xs-2 hrisadminobject-object-widget'></div>
		<div class='col-xs-2 hrisadminobject-set-attr-widget'>
			<div class='hrisadminobject-set-widget'></div>
			<div class='hrisadminobject-attr-widget'></div>
		</div>
		<div class='col-xs-8 opsportal-stage'>
		    <div class='tool-hrisadminobject-form-set-new'></div>
		    <div class='tool-hrisadminobject-form-object-new'></div>
		    <div class='tool-hrisadminobject-form-attribute-new'></div>
		</div>			
		
	</div>