<div class="row op-container">
	<div class='col-xs-2 op-container hrisadminobject-object-widget'></div>
	<div class='col-xs-2 op-container hrisadminobject-set-attr-widget'>
		<div class='op-container hrisadminobject-set-widget'></div>
		<div class='op-container hrisadminobject-attr-widget'></div>
	</div>
	<div class='col-xs-8 op-container'>
	    <div class='op-container tool-hrisadminobject-form-set-new'></div>
	    <div class='op-container tool-hrisadminobject-form-object-new'></div>
	    <div class='op-container tool-hrisadminobject-form-attribute-new'></div>
	</div>
</div>